html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box
}


.container {
    background-color: #540a59;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#540a59,#0d000e);
}

.column {
    background-color: #07006c ;
    min-height: 600px;
    max-height: 1200px;
    width: 700px;
    border: 2px solid #000000;
    box-shadow: #fef7ff 0 1px 8px;
    padding: 25x 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

.column .texto h4 {
    font-size: 26px;
    margin: 16px 0px 0px;
    background-color: transparent;
    border: none;
    color: #e8f752;
    stroke-opacity: 0.5;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 7s;
}

.column .header {
    padding: 10px 0;
}

.column h3 {
    font-size: 26px;
    font-weight: 1000;
    line-height: 30px;
    margin: 0;
    padding-top: 5px;
    color: #e8f752;
    -webkit-text-stroke: 1px #221919;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeIn;
    animation-duration: 3s;

}

.column .header span {
    font-weight: 0;
    font-size: 24px;
    color: #b5c041;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 5s;
    display: flex;
    padding: 20px 50px 0px 50px;
    
}

.column .header img {
    width: 350px;
    transition:all 1s
}

.column .header img:hover {
    transform: scale(1.1);
}

.discord {
font-size:16px;
font-weight:700;
color: #ff6a33;
text-decoration: none;
display: flex;
justify-content: center;
text-align: center;
align-self: baseline;
}

.column #click-toggle {
    width: 75px;
    cursor: pointer;
}

.column #show-toggle {
    width: 500px;
    display: none;
}