html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box
}


.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#0d000e, #540a59 );
}

.column {
    margin-top: 100px;
    background-color: #07006c ;
    min-height: 600px;
    max-height: 1200px;
    width: 630px;
    border: 2px solid #000000;
    box-shadow: #fef7ff 0 1px 8px;
    padding: 25x 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

.column .texto h4 {
    font-size: 26px;
    margin: 16px 0px 0px;
    background-color: transparent;
    border: none;
    color: #e8f752;
    stroke-opacity: 0.5;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 7s;
}

.column .header {
    padding: 10px 0;
}

.column h3 {
    font-size: 26px;
    font-weight: 1000;
    line-height: 30px;
    margin: 0;
    padding-top: 10px;
    color: #e8f752;
    -webkit-text-stroke: 1px #221919;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeIn;
    animation-duration: 3s;

}

.column .header span {
    font-weight: 0;
    font-size: 24px;
    color: #b5c041;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 5s;
    display: flex;
    padding: 20px 50px 0px 50px;
    
}

.column .header img {
    width: 500px;
    transition:all 1s
    
}

.column .header img:hover {
    transform: scale(1.1);
}

.discord {
font-size:16px;
font-weight:700;
color: #ff6a33;
text-decoration: none;
display: flex;
justify-content: center;
text-align: center;
align-self: baseline;
}

.column #click-toggle {
    width: 75px;
    cursor: pointer;
}

.column #show-toggle {
    width: 500px;
    display: none;
}

.buffer.one {
    height: 350px;
    background: linear-gradient(#540a59 15%, #540a59, #cc5ee5, #6d95db);
}


.container.dos {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#6d95db 60%,#6d95db);
}

.column.dos {
    background-color: #028282 ;
    min-height: 600px;
    max-height: 1200px;
    width: 630px;
    border: 2px solid #000000;
    box-shadow: #fef7ff 0 1px 8px;
    padding: 25x 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

.column.dos .texto h4 {
    font-size: 26px;
    margin: 8px 0px 0px;
    background-color: transparent;
    border: none;
    color: #a7b88f;
    stroke-opacity: 0.5;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 7s;
}

.column.dos .header {
    padding: 10px 0;
}

.column.dos h3 {
    font-size: 24px;
    font-weight: 1000;
    line-height: 30px;
    margin: 0;
    padding-top: 10px;
    color: #a7b88f;
    -webkit-text-stroke: 1px #221919;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeIn;
    animation-duration: 3s;

}

.column.dos .header span {
    font-weight: 0;
    font-size: 22px;
    color: #a7b88f;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 5s;
    display: flex;
    padding: 20px 50px 0px 50px;
    
}

.column.dos .header img {
    width: 500px;
    transition:all 1s
    
}

.column.dos .header img:hover {
    transform: scale(1.1);
}

.column.dos #click-toggle2 {
    width: 75px;
    cursor: pointer;
}

.column.dos #show-toggle2 {
    width: 500px;
    display: none;
}


.buffer.two {
    height: 350px;
    background: linear-gradient(#6d95db,#6d95db, #56e079, #ffc45d);
}


.container.tres {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#ffc45d 90%,#ffc45d);
}

.column.tres {
    background-color: #a9c59a ;
    min-height: 600px;
    max-height: 1200px;
    width: 630px;
    border: 2px solid #000000;
    box-shadow: #fef7ff 0 1px 8px;
    padding: 25x 25px;
    box-sizing: border-box;
    overflow-y: auto;
}

.column.tres .texto h4 {
    font-size: 26px;
    margin: 10px 0px 0px;
    background-color: transparent;
    border: none;
    color: #074837;
    stroke-opacity: 0.5;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 7s;
}

.column.tres .header {
    padding: 10px 0;
}

.column.tres h3 {
    font-size: 26px;
    font-weight: 1000;
    line-height: 15px;
    margin: 0;
    padding-top: 10px;
    color: #074837;
    -webkit-text-stroke: 1px #221919;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeIn;
    animation-duration: 3s;

}

.column.tres .header span {
    font-weight: 0;
    font-size: 24px;
    color: #074837;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 5s;
    display: flex;
    padding: 20px 50px 0px 50px;
    margin-top: 10px;
    
}

.column.tres .header img {
    width: 500px;
    transition:all 1s;  
}

.column.tres .header img:hover {
    transform: scale(1.1);
}

.column.tres #click-toggle3 {
    width: 75px;
    cursor: pointer;
}

.column.tres #show-toggle3 {
    width: 500px;
    display: none;
}

.buffer.three {
    height: 800px;
    background: linear-gradient(#ffc45d,#fc643f, #fc643f, #e44424)
}

.container.cuatro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(#e44424 90%,#e44424);
}

.column.cuatro {
    background-color: transparent ;
    min-height: 600px;
    max-height: 2500px;
    width: 1300px;
    padding: 25x 25px;
    box-sizing: border-box;
    overflow-y: auto;
    border: none;
    box-shadow: none;
}

.column.cuatro .texto h4 {
    font-size: 26px;
    margin: 8px 0px 0px;
    background-color: transparent;
    border: none;
    color: #a32727;
    stroke-opacity: 0.5;
    font-family: 'Arial Narrow Bold';
    animation: fadeIn; 
    animation-duration: 7s;
}

.column.cuatro .header {
    padding: 10px 0;
}

.column.cuatro h3 {
    font-size: 26px;
    font-weight: 1000;
    line-height: 15px;
    margin: 0;
    padding-top: 10px;
    color: #a32727;
    -webkit-text-stroke: 1px #221919;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation: fadeIn;
    animation-duration: 3s;

}

.column.cuatro .header span {
    font-weight: 0;
    font-size: 24px;
    color: #a32727;
    font-family: 'Arial Narrow Bold';
    font-weight: 1000;

    animation: fadeIn; 
    animation-duration: 5s;
    display: flex;
    justify-content: center;
    padding: 20px 50px 20px 50px;
    
}

.column.cuatro .header img {
    width: 500px;
    transition:all 1s;  
}

.column.cuatro .header img:hover {
    transform: scale(1.1);
}

.column.cuatro #click-toggle4 {
    width: 75px;
    cursor: pointer;
}

.column.cuatro #show-toggle4 {
    width: 500px;
    display: none;
}

.buffer.four {
    height: 750px;
    background: linear-gradient(#e44424,#ed0b0c, #1d0000)
}

.column.cuatro .grid-container {
    display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  padding: 0px;

  }

  .column.cuatro .grid-container > div {
    background-color: transparent;
    text-align: center;
    padding: 20px 2px;
    font-size: 30px;
  }


.column.cuatro .grid-container img {
    border: 2px solid #000000;
    box-shadow: #f5b960 0 1px 8px;

}



  .column.cuatro .grid-container img:hover {
    transition:all 1s;  
    transform: scale(1.1);
}


  